<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>RISC V SIMULATOR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <!-- <link rel = "stylesheet" href = "css/bootstrap.css"> -->
    <link rel="stylesheet" type="text/css" href="css/sim.css">
</head>

<body>
    <header class="header">
        RISC V SIMULATOR
    </header>
    <div style="height: 100% ">
        <div class="editor">
            <textarea spellcheck="false" id="code" class="textarea" style="height: 70%;"
                placeholder="write your code here"></textarea>
        </div>
        <div class='editor'>
            <textarea spellcheck="false" id="inp" placeholder="input the values here"
                style="width: 65%; height: 10%;"></textarea>
        </div>
        <button type="button" id="submitButton" class="btn btn-outline-primary submit-button">Submit</button>
        <div class="stats">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="pipelining" id="pipelining">
                <label class="form-check-label" for="flexSwitchCheckDefault">Pipeline</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="data_forwarding" id="data_forwarding">
                <label class="form-check-label" for="flexSwitchCheckDefault">data forwarding</label>
            </div>
        
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="register_after_each_cycle" id="register_after_each_cycle">
                <label class="form-check-label" for="flexSwitchCheckDefault">reg. per cycle</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" name="print_pipeline_registers" value="0" id="print_pipeline_registers">
                <label class="form-check-label" for="flexSwitchCheckDefault">pipeline reg.</label>
            </div>
            <input placeholder = "PC" id="req_inst" name="req_inst">

            <div class="form-group">
                <label for="exampleFormControlSelect1">Instruct.cache block placement type</label>
                <select id="a" class="form-control" style="height:30px;">
                  <option value="1">1:Direct Mapped</option>
                  <option value="2">2:fully_Associative</option>
                  <option value="3">3:Set_associative</option>
                </select>

                <label for="Cache Size">Ins.cache size:</label><br>
                <input  class = "form-control" style="height:25px;" placeholder="In Bytes" id="b" value="" name="b" type="number"  required><br>

                <label for="Block Size">Ins.cache block size:</label><br>
                <input  class = "form-control" style="height:25px;" placeholder="In Bytes" id="c" value="" type="number" name="instruction_cache_block_size" required><br>

                <label for="Cache Size">Number of blocks per set: (I$)</label><br>
                <input id="d" class = "form-control" style="height:25px;" placeholder="" value=""><br>
                
                <label for="Data">Data Cache Block Placement Type</label>
                <select id="e" class="form-control" style="height:30px;">
                  <option value="1">1:Direct Mapped</option>
                  <option value="2"> 2:fully_Associative</option>
                  <option value="3">3:Set_associative</option>
                </select>

                <label for="Data Cache Size">Data Cache Size:</label><br>
                <input id="f"  class = "form-control" value="" style="height:25px;" placeholder="In Bytes" type="number" value="" required><br>

               
                <label for="Data Cache Size">Data Cache Block Size per set:</label><br>
                <input id="g" class = "form-control" value=""style="height:25px;" placeholder="Bytes" type = "number" value="" required><br>
                
                <label for="Data Block Size">Number of blocks per set: (D$)</label><br>
                <input id="h"  class = "form-control" value="" style="height:25px;"><br>



            </div>



             <button onclick=openWin() id="show_stats">show stats</button>
           </div>
           
        <div class="side">
           

            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" onClick="fun()" id="reg-toggle" href="#"
                            role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                            Register
                        </a>
                        <ul class="dropdown-menu key" id="register-values">
                            <li>Please run the code first</li>
                        </ul>

                    </div>
                </li>
                <li class="nav-item">
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-bs-toggle="dropdown" aria-expanded="false" class="mem-toggle">
                            Memory
                        </a>
                        <br>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

                            <li><a class="button" style="text-decoration: none;" data-table="1" href="#">Hide-all</a>
                            </li>
                            <li><a class="button" style="text-decoration: none;" data-table="instruction-values"
                                    href="#">text</a></li>
                            <li><a class="button" style="text-decoration: none;" data-table="data-values"
                                    href="#">data</a></li>

                            <li><a class="button" style="text-decoration: none;" data-table="stack-values"
                                    href="#">stack</a></li>
                        </ul>
                        <table id="1">
                        </table>
                        <table id="instruction-values">
                        </table>
                        <table id="data-values">
                        </table>
                        <table id="stack-values">
                        </table>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</body>



<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
    integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG" crossorigin="anonymous">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
    integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc" crossorigin="anonymous">
</script>
<script src="js/venus.js"></script>

</html>