.textarea{
    background: url(http://i.imgur.com/2cOaJ.png);
    background-attachment: local;
    background-repeat: no-repeat;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
    width: 65%; 
    min-height: 500px;
}
.editor{
    margin-top: 10px;
    padding-left: 30px;
}
.submit-button{
    position: relative;
    margin-left: 30px;
    margin-top: 5px;
    
}

.header{
    text-align: center;
    font-family: 'Ubuntu';
    font-weight: 700;
    font-size: 30px;
    background-color:skyblue;
}
.side{
    position:absolute;
    font-family:  New,Courier,monospace;
    top:92px;
    height:600px;
   overflow:scroll;
   
    /* width:300px; */
    right:80px;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  
    /* padding:50px; */
    /* margin-right: 10px; */

}
.side::-webkit-scrollbar {
    display: none;
}

/* .dropdown{
    
} */

.dropdown-label{
    display:inline;
    font-family:  New,Courier,monospace;
    font-weight: 400;
    font-size:.85rem;
    padding: 10px;
}
.dropdown-input{
    display:inline;
    width:210px;
}
.key{
    
     height: 568px;
    /* overflow: auto; */

}
.memory-table{
    position:absolute;
    left:0px;
}
.memory-dropButtons{
    border:none;
   text-decoration:none;
   color:black;
   /* display: inli; */
}
.memory-dropButtons:hover{
    color:#66FF66;
}
table {
    
    position:absolute;
    top:50px;
    right:0px;
    width:210px;
    margin-right: 0px;
    font-family:  New,Courier,monospace;
    border: 1px solid lightgray;
    border-collapse: collapse;
}
  table, th, td {
   
    border: none;
  }
  th, td {
    
    padding: 6px;
    text-align: left;
   
  }
  /* tr:nth-child(even) {
   
    background-color: #eee  !important;
  }
  tr:nth-child(odd) {
   
    background-color:grey !important;
  }
   */
   .stats{
    /* margin-top: 20px; */
    top:92px;
    right:250px;
    position:absolute;
    font-family:  New,Courier,monospace;
    font-size: 15px;
    left:67%;
    

  }
 th {
    
    background-color: white;
    color: black;

  }
  th:hover{
      color: #66FF66;

  }
  tr:hover{
      color:peru;
      font-weight: bolder;
  }
  